@model DoAnChuyenNganh_HeThongTrungTamTinHoc.Models.LichDay

@{
    ViewBag.Title = "LichDayDelete";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h3>Bạn có chắc chắn muốn xóa lịch dạy này?</h3>
<div class="card mb-3 mx-auto mt-3" style="max-width: 800px;">
    <form class="p-4 mt-0" style="max-width: 100%" action="/Admin/AdminLichDay/LichDayDeleteConfirmed/@Model.MaLichDay" method="post">
        <input type="hidden" name="Id" value="@Model.MaLichDay" />
        <hr />
        <dl class="dl-horizontal">
            <dt>Ngày dạy</dt>
            <dd>@Model.NgayDay.ToString("dd/MM/yyyy")</dd>
            &nbsp;
            &nbsp;
            <dt>Giờ bắt đầu</dt>
            <dd>@Model.GioBatDau</dd>
            &nbsp;
            &nbsp;
            <dt>Giờ kết thúc</dt>
            <dd>@Model.GioKetThuc</dd>
            &nbsp;
            &nbsp;
            <dt>Giảng viên</dt>
            <dd>@Model.GiaoVien.HoTen</dd>
            &nbsp;
            &nbsp;
            <dt>Lớp học</dt>
            <dd>@Model.LopHoc.TenPhong</dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" />
                <a class="btn btn-secondary ms-2" href="@Url.Action("LichDayList", "AdminLichDay")">Quay lại</a>
            </div>
        }
    </form>
</div>
