@model List<DoAnChuyenNganh_HeThongTrungTamTinHoc.Models.KhoaHoc>
@{
    ViewBag.Title = "Tất cả khóa học";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<style>
    .search-section {
        background: url('/images/background.jpg') no-repeat center center;
        background-size: cover;
        color: white;
        padding: 60px 0;
        position: relative;
        overflow: hidden;
    }

    .search-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 74, 158, 0.8);
        z-index: 1;
    }

    .search-content {
        position: relative;
        z-index: 2;
    }

    .search-box {
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 500px;
    }

    .fixed-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card {
        border: none;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

    .card-title {
        font-weight: 600;
        margin-bottom: 15px;
    }
</style>


<div class="search-section">
    <div class="search-overlay"></div>
    <div class="container text-center search-content">
        <h1 class="fw-bold">Tìm khóa học bạn quan tâm</h1>
        <p>Học chắc từ nền tảng<br>Ứng dụng hiệu quả CNTT vào thực tế cuộc sống</p>
        <div class="d-flex justify-content-center mt-4">
            <form class="g-2 mb-3 mt-2 search-box d-flex" action="@Url.Action("Index", "KhoaHoc")">
                <div class="">
                    <input class="form-control" id="search" name="search" value="@ViewBag.Search" type="search" placeholder="Tìm kiếm khóa học" aria-label="Search" style="font-weight: 700;">
                </div>
                <div class="d-flex mx-2">
                    <button class="btn btn-outline-light me-2" type="submit" id="search" name="search" value="@ViewBag.Search" aria-label="Search">
                        <i class="fa fa-solid fa-search"></i>
                    </button>
                    <a class="btn btn-danger border-0" href="@Url.Action("Index", "KhoaHoc")">Hủy</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid border p-2" style="background-color: lightgray">
    <h1 style="color: orangered" class="text-center">Tất cả khóa học</h1>
    <div class="container-fluid d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center pagination-custom">
                @{
                    int trangtruoc = ViewBag.Page - 1;
                    if (trangtruoc <= 0)
                    {
                        trangtruoc = 1;
                    }
                    int trangsau = ViewBag.Page + 1;
                    if (trangsau > ViewBag.NumberOfPages)
                    {
                        trangsau = ViewBag.NumberOfPages;
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", "KhoaHoc", new { page = trangtruoc, sort_by = ViewBag.SortBy, search = ViewBag.Search })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 0; i < ViewBag.NumberOfPages; i++)
                {
                    if (i + 1 == ViewBag.Page)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="@Url.Action("Index", "KhoaHoc", new { search = ViewBag.Search, page = i + 1, sort_by = ViewBag.SortBy })">@(i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", "KhoaHoc", new { search = ViewBag.Search, page = i + 1, sort_by = ViewBag.SortBy })">@(i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", "KhoaHoc", new { page = trangsau, sort_by = ViewBag.SortBy, search = ViewBag.Search})" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="d-flex justify-content-between mb-3">
        <nav aria-label="breadcrumb" class="breadcrumb mx-2">
            @Html.MvcSiteMap().SiteMapPath()
        </nav>
        <form method="get" action="/KhoaHoc/Index" class="d-inline">
            <label for="sort_by" class="me-2 fw-bold" style="color: orangered;">Sắp xếp:</label>
            <select name="sort_by" id="sortBy" class="form-select d-inline w-auto" onchange="this.form.submit()">
                <option value="price_asc" @(ViewBag.SortBy == "price_asc" ? "selected" : "")>Học phí tăng dần</option>
                <option value="price_desc" @(ViewBag.SortBy == "price_desc" ? "selected" : "")>Học phí giảm dần</option>
            </select>
        </form>
    </div>

    @if (!string.IsNullOrEmpty(ViewBag.Search) || ViewBag.MinPrice != null || ViewBag.MaxPrice != null)
    {
        <div class="alert alert-info">
            Kết quả tìm kiếm:
            @if (!string.IsNullOrEmpty(ViewBag.Search))
            {
                <span>"<strong>@ViewBag.Search</strong>"</span>
            }
        </div>
    }
 
    <div class="row mt-3">
        @foreach (var item in Model)
        {
            <div class="col-md-3 d-flex mb-4">
                <div class="card mb-4 mx-auto shadow-sm h-100 w-100" style="max-width: 300px;">
                    <div class="card-body d-flex flex-column">
                        @if (item.Anh != "")
                        {
                            <a href="/KhoaHoc/ChiTietKhoaHoc/@item.MaKH">
                                <img src="~/images/@item.Anh" alt="Khóa học" class="card-img-top fixed-image" />
                            </a>
                        }
                        else
                        {
                            <a href="/KhoaHoc/ChiTietKhoaHoc/@item.MaKH">
                                <img src="~/images/noimage.jpg" alt="Khóa học" class="card-img-top fixed-image" />
                            </a>
                        }
                        <h5 class="card-title flex-grow-1 mt-2"><a href="@Url.Action("ChiTietKhoaHoc", "KhoaHoc", new { id = item.MaKH })" class="text-decoration-none" style="color: #0066b3">@Html.DisplayFor(model => item.TenKH)</a></h5>
                        <span class="card-text flex-grow-1">Ngày khai giảng: @Html.DisplayFor(model => item.NgayBatDau)</span>
                        <h4 style="color: orangered;">Học phí: @string.Format("{0:N0} VND", item.HocPhi)</h4>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container-fluid d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center pagination-custom">
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", "KhoaHoc", new { page = trangtruoc, sort_by = ViewBag.SortBy, search = ViewBag.Search })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 0; i < ViewBag.NumberOfPages; i++)
                {
                    if (i + 1 == ViewBag.Page)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="@Url.Action("Index", "KhoaHoc", new { search = ViewBag.Search, page = i + 1, sort_by = ViewBag.SortBy })">@(i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", "KhoaHoc", new { search = ViewBag.Search, page = i + 1, sort_by = ViewBag.SortBy })">@(i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", "KhoaHoc", new { page = trangsau, sort_by = ViewBag.SortBy, search = ViewBag.Search })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>