@model List<DoAnChuyenNganh_HeThongTrungTamTinHoc.Models.KhoaHoc>
@{
    ViewBag.Title = "Trung tâm tin học - HUIT";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<style>
    .mySwiper {
        width: 100%;
        margin: 0 auto;
        margin-top: 0;
    }

    .card {
        border: none;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

    .card-title {
        font-weight: 600;
        margin-bottom: 15px;
    }
</style>

<div class="container-fluid p-0">
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
                      centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
        <swiper-slide>
            <a href="/KhoaHoc/ChiTietKhoaHoc/KH015">
                <img class="card-img-top" src="https://csc.edu.vn/data/images/slider/Tin%20hoc%20Van%20Phong/298-VBA.png" alt="Product image" style="width: 100%; height: auto;">
            </a>
        </swiper-slide>
        <swiper-slide>
            <a href="/KhoaHoc/ChiTietKhoaHoc/KH013">
                <img class="card-img-top" src="https://csc.edu.vn/data/images/slider/Data-science/Banner-Analytics-lap-trinh.jpg" alt="Product image" style="width: 100%; height: auto;">
            </a>
        </swiper-slide>
        <swiper-slide>
            <a href="/KhoaHoc/ChiTietKhoaHoc/KH027">
                <img class="card-img-top" src="https://csc.edu.vn/data/images/slider/Data-science/combo-python-co-ban-python-visualization-k290.png" alt="Product image" style="width: 100%; height: auto;">
            </a>
        </swiper-slide>
        <swiper-slide>
            <a href="/KhoaHoc/ChiTietKhoaHoc/KH019">
                <img class="card-img-top" src="	https://csc.edu.vn/data/images/slider/Tin%20hoc%20Van%20Phong/299-ud-cntt-co-ban.jpg" alt="Product image" style="width: 100%; height: auto;">
            </a>
        </swiper-slide>
        <swiper-slide>
            <a href="/KhoaHoc/ChiTietKhoaHoc/KH014">
                <img class="card-img-top" src="https://csc.edu.vn/data/images/slider/lap-trinh/lap-trinh-di-dong-da-nen-tang-flutter-k299.png" alt="Product image" style="width: 100%; height: auto;">
            </a>
        </swiper-slide>
    </swiper-container>
</div>
<div class="container-fluid border p-2" style="background-color: lightgray">
    <div class="row mt-3">
        @foreach (var item in Model)
        {
            <div class="col-md-2 d-flex mb-4">
                <div class="card mb-4 mx-auto shadow-sm h-100" style="max-width: 300px;">
                    <div class="card-body d-flex flex-column">
                        @if (item.Anh != "")
                        {
                            <a href="/KhoaHoc/ChiTietKhoaHoc/@item.MaKH">
                                <img src="~/images/@item.Anh" alt="Khóa học" class="card-img-top" />
                            </a>
                        }
                        else
                        {
                            <a href="/KhoaHoc/ChiTietKhoaHoc/@item.MaKH">
                                <img src="~/images/noimage.jpg" alt="Khóa học" class="card-img-top" />
                            </a>
                        }
                        <h5 class="card-title flex-grow-1 mt-2"><a href="/KhoaHoc/ChiTietKhoaHoc/@item.MaKH" class="text-decoration-none" style="color: #0066b3">@Html.DisplayFor(model => item.TenKH)</a></h5>
                        <span class="card-text flex-grow-1">Ngày khai giảng: @Html.DisplayFor(model => item.NgayBatDau)</span>
                        <h4 style="color: orangered">Học phí: @string.Format("{0:N0} VND", item.HocPhi)</h4>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="d-flex justify-content-center mt-3">
        <a href="@Url.Action("Index", "KhoaHoc")" class="btn text-white" style="background-color: #0066b3">Xem tất cả khóa học</a>
    </div>
</div>


<div class="container-fluid p-0 overflow-hidden">
    <div class="w-100 p-3" style="border-radius: 0px; background-color: #0066b3;">
        <h2 class="text-center text-uppercase text-white">Đánh giá của học viên</h2>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @if (ViewBag.BinhLuans.Count == 0)
                {
                    <div class="text-center my-5 text-white" style="width: 100%;">
                        <h3>Chưa có đánh giá nào!</h3>
                    </div>
                }
                else
                {
                    foreach (var binhluan in ViewBag.BinhLuans)
                    {
                        <div class="swiper-slide">
                            <div class="card mb-4 mx-auto shadow-sm h-100" style="max-width: 300px; min-height: 150px;">
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex">
                                        <img src="~/AnhHocVien/@binhluan.Anh" style="width: 40px; height: 40px; object-fit: cover; margin-right: 10px;" class="rounded-circle border" />
                                        <h5 class="card-title flex-grow-1 mt-2">
                                            @binhluan.HoTen
                                        </h5>
                                    </div>
                                    <span class="card-text flex-grow-1 mt-2">@binhluan.NoiDung</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


<div class="container-fluid text-center p-2">
    <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 450px;">
        <div class="mb-4" style="color: #0066b3">
            <span class="h3" style="font-size: 3rem;">Cám ơn bạn đã tin tưởng và đồng hành cùng Trung tâm Tin học HUIT</span>
            <img src="https://csc.edu.vn/template/frontend/images/home/heart-icon.png" alt="icon trái tim" class="ms-2" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 mb-4">
                    <div class="h1" style="color: orangered">
                        <span style="font-size: 3rem;">10</span>+
                    </div>
                    <div class="fw-bold" style="color: #0066b3; font-size: 2rem;">Năm phát triển</div>
                </div>

                <div class="col-sm-4 mb-4">
                    <div class="h1" style="color: orangered">
                        <span style="font-size: 3rem;">20</span>+
                    </div>
                    <div class="fw-bold" style="color: #0066b3; font-size:2rem;">Chương trình học</div>
                </div>

                <div class="col-sm-4 mb-4">
                    <div class="h1" style="color: orangered">
                        <span style="font-size: 3rem;">10.000</span>+
                    </div>
                    <div class="fw-bold" style="color: #0066b3; font-size:2rem;">Học viên khắp mọi miền</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween: 10,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        breakpoints: {
            1024: { slidesPerView: 4 },
            768: { slidesPerView: 2 },
            640: { slidesPerView: 1 },
        },
    });
</script>