
@{
    ViewBag.Title = "Sao lưu và phục hồi dữ liệu";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center" style="color: #0066b3;">@ViewBag.Title</h2>
    <hr />
    <div class="text-center">
        <form action="@Url.Action("SaoLuu", "AdminSaoLuuPhucHoi")" method="post">
            <button type="submit" class="btn btn-primary">Sao lưu dữ liệu</button>
        </form>
        <form action="@Url.Action("PhucHoi", "AdminSaoLuuPhucHoi")" method="post" enctype="multipart/form-data" class="mt-3">
            <label for="filephuchoi" class="form-label">Tải lên tệp sao lưu:</label>
            <input type="file" id="filephuchoi" name="filephuchoi" class="form-control" accept=".bak" required />
            <button type="submit" class="btn btn-success mt-3">Phục hồi dữ liệu</button>
        </form>
    </div>
    <div class="mt-5">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success text-center">
                @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger text-center">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>
</div>
